ion-content{
    --ion-background-color:white;
  }
  
  ion-toolbar {
    --background: #3AAFB9;
    text-align: center;
    height: fit-content;
  }
  
  ion-label{
    color:black;
    font-weight: 500;
    --ion-color-success:#3AAFB9;
  }

  ion-title{
    text-indent: -30px;
  }
  
  #welcome{
    padding-top: 25px;
    text-indent: 40px;
  }

  ion-input{
    align-items: center;
    background-color: white;
    color: black;
    border: 3px solid transparentize($color: #3AAFB9, $amount: 0.7) ;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 20px;
    --highlight-color:#3AAFB9;
    box-sizing: border-box;
  }

  ion-item{
    --background:white;
    --border-color: white;
  }
  .icon{
    margin: auto;
    width: 50px;
    height: 50px;
    color: #3AAFB9;
    padding-left: 30px;
  }
