<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="title" #title>Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="volver()"></ion-back-button>
        </ion-buttons>
        <ion-title>Ruta de Viaje</ion-title>
      </ion-toolbar>
    </ion-header>
      <div id="welcome">
        <ion-label>Hola {{user.usuario}}!</ion-label>
        <p style="color: black"> ¿A donde vamos hoy?</p>
      </div>
      <div>
        <ion-item>
          <ion-icon class="icon" name="location-outline"></ion-icon>
          <ion-input style="text-indent:15px" label="Punto de partida" labelPlacement="floating" type="text"
          maxlength="38"></ion-input>
        </ion-item>
        <br>
        <ion-item>
        <ion-icon class="icon" name="location-sharp">
        </ion-icon><ion-input style="text-indent:15px" label="Punto de llegada" labelPlacement="floating"type="text"
        maxlength="38"></ion-input>
        </ion-item>
      </div>
       
      
      <ion-grid>
      </ion-grid>
